@charset "UTF-8";
/**
 * 目次
 *
 * 01. Reset
 * 02. Base
 * 03. Layout
 * 04. Parts
 * 05. Responisive
 *
 */
/* ==========================================================================
   01. Reset
   ========================================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* ==========================================================================
   02. Base
   ========================================================================== */
html {
  color: #000;
  font-size: 62.5%;
  overflow-y: scroll; }

body {
  font-family: "ゴシックMB101 R","Gothic MB101 Regular",sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 140%;
  line-height: 2;
  min-width: 1180px;
  overflow-x: hidden; }

@media screen and (max-width: 767px) {
  body {
    font-size: 140%;
    min-width: 100%; } }

/* link
   ========================================================================== */
a {
  color: #000;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a:link,
a:visited,
a:active,
a:hover {
  /* FireFox リンク選択時の点線を消す */
  overflow: hidden;
  outline: none; }

/* image
   ========================================================================== */
img {
  line-height: 1.0;
  vertical-align: bottom; }

table th img,
table td img {
  vertical-align: middle; }

/* ClearFix
   ========================================================================== */
.clear {
  clear: both; }

.clearfix,
.fbox,
.item-wrap,
.has-side {
  display: block; }
  .clearfix:after,
  .fbox:after,
  .item-wrap:after,
  .has-side:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

/* float
   ========================================================================== */
.fr {
  float: right; }

.fl {
  float: left; }

ul.fbox li {
  float: left;
  display: inline; }

/* margin
   ========================================================================== */
.mt0 {
  margin-top: 0px !important; }

.mt5 {
  margin-top: 5px !important; }

.mt10 {
  margin-top: 10px !important; }

.mt15 {
  margin-top: 15px !important; }

.mt20 {
  margin-top: 20px !important; }

.mt25 {
  margin-top: 25px !important; }

.mt30 {
  margin-top: 30px !important; }

.mt35 {
  margin-top: 35px !important; }

.mt40 {
  margin-top: 40px !important; }

.mt45 {
  margin-top: 45px !important; }

.mt50 {
  margin-top: 50px !important; }

.mt55 {
  margin-top: 55px !important; }

.mt60 {
  margin-top: 60px !important; }

.mt65 {
  margin-top: 65px !important; }

.mt70 {
  margin-top: 70px !important; }

.mt75 {
  margin-top: 75px !important; }

.mt80 {
  margin-top: 80px !important; }

.mt85 {
  margin-top: 85px !important; }

.mt90 {
  margin-top: 90px !important; }

.mt95 {
  margin-top: 95px !important; }

.mt100 {
  margin-top: 100px !important; }

.mb0 {
  margin-bottom: 0px !important; }

.mb5 {
  margin-bottom: 5px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.mb15 {
  margin-bottom: 15px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.mb25 {
  margin-bottom: 25px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.mb35 {
  margin-bottom: 35px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.mb45 {
  margin-bottom: 45px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.mb55 {
  margin-bottom: 55px !important; }

.mb60 {
  margin-bottom: 60px !important; }

.mb65 {
  margin-bottom: 65px !important; }

.mb70 {
  margin-bottom: 70px !important; }

.mb75 {
  margin-bottom: 75px !important; }

.mb80 {
  margin-bottom: 80px !important; }

.mb85 {
  margin-bottom: 85px !important; }

.mb90 {
  margin-bottom: 90px !important; }

.mb95 {
  margin-bottom: 95px !important; }

.mb100 {
  margin-bottom: 100px !important; }

.mr0 {
  margin-right: 0px !important; }

.mr5 {
  margin-right: 5px !important; }

.mr10 {
  margin-right: 10px !important; }

.mr15 {
  margin-right: 15px !important; }

.mr20 {
  margin-right: 20px !important; }

.mr25 {
  margin-right: 25px !important; }

.mr30 {
  margin-right: 30px !important; }

.mr35 {
  margin-right: 35px !important; }

.mr40 {
  margin-right: 40px !important; }

.mr45 {
  margin-right: 45px !important; }

.mr50 {
  margin-right: 50px !important; }

.mr55 {
  margin-right: 55px !important; }

.mr60 {
  margin-right: 60px !important; }

.mr65 {
  margin-right: 65px !important; }

.mr70 {
  margin-right: 70px !important; }

.mr75 {
  margin-right: 75px !important; }

.mr80 {
  margin-right: 80px !important; }

.mr85 {
  margin-right: 85px !important; }

.mr90 {
  margin-right: 90px !important; }

.mr95 {
  margin-right: 95px !important; }

.mr100 {
  margin-right: 100px !important; }

.ml0 {
  margin-left: 0px !important; }

.ml5 {
  margin-left: 5px !important; }

.ml10 {
  margin-left: 10px !important; }

.ml15 {
  margin-left: 15px !important; }

.ml20 {
  margin-left: 20px !important; }

.ml25 {
  margin-left: 25px !important; }

.ml30 {
  margin-left: 30px !important; }

.ml35 {
  margin-left: 35px !important; }

.ml40 {
  margin-left: 40px !important; }

.ml45 {
  margin-left: 45px !important; }

.ml50 {
  margin-left: 50px !important; }

.ml55 {
  margin-left: 55px !important; }

.ml60 {
  margin-left: 60px !important; }

.ml65 {
  margin-left: 65px !important; }

.ml70 {
  margin-left: 70px !important; }

.ml75 {
  margin-left: 75px !important; }

.ml80 {
  margin-left: 80px !important; }

.ml85 {
  margin-left: 85px !important; }

.ml90 {
  margin-left: 90px !important; }

.ml95 {
  margin-left: 95px !important; }

.ml100 {
  margin-left: 100px !important; }

/* padding
   ========================================================================== */
.pt0 {
  padding-top: 0 !important; }

.pb0 {
  padding-bottom: 0 !important; }

/* form label
   ========================================================================== */
input,
textarea,
label {
  vertical-align: middle; }

/* position
   ========================================================================== */
.text-r {
  text-align: right !important; }

.text-c,
table.text-c th,
table.text-c td,
table.th-c th {
  text-align: center !important; }

.text-l {
  text-align: left !important; }

/* ==========================================================================
   03. Layout
   ========================================================================== */
/* wrapper
   ========================================================================== */
/* #contents */
#contents.bg-square {
  padding: 30px 0 100px; }

/* 幅1180px中央 */
.cmn-inner {
  margin: 0 auto;
  width: 1180px; }
  @media screen and (max-width: 767px) {
    .cmn-inner {
      width: 100%; } }

/* マス目背景 */
.bg-square {
  background: url("img/bg_square.gif") center;
  background-size: 1380px; }

/* グレー背景 */
.bg-gray {
  background-color: #FAF8F6; }

@media screen and (max-width: 767px) {
  #wrapper {
    padding-bottom: 92px; }
  .cmn-inner {
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    width: 1180px; } }
  @media screen and (max-width: 767px) and (max-width: 767px) {
    .cmn-inner {
      width: 100%; } }

/* header
   ========================================================================== */
@media screen and (min-width: 768px) {
  #head {
    margin: 0 auto;
    width: 1180px; } }
  @media screen and (min-width: 768px) and (max-width: 767px) {
    #head {
      width: 100%; } }

@media screen and (min-width: 768px) {
  .head-menu {
    padding: 25px 0 20px;
    border-bottom: 1px solid #e5e5e5; }
  #head-logo {
    padding: 20px; }
  .head-menu-contents {
    width: 650px;
    letter-spacing: -.40em; }
    .head-menu-contents .head-menu-tel {
      width: 210px;
      display: inline-block;
      letter-spacing: normal;
      vertical-align: top; }
      .head-menu-contents .head-menu-tel .cap-tel {
        margin-bottom: 5px;
        font-size: 11px;
        font-size: 1.1rem; }
      .head-menu-contents .head-menu-tel .txt-open {
        font-size: 11px;
        font-size: 1.1rem; }
    .head-menu-contents .head-menu-counseling {
      width: 210px;
      display: inline-block;
      letter-spacing: normal;
      vertical-align: top; }
      .head-menu-contents .head-menu-counseling .cap-counseling {
        margin-bottom: 5px;
        font-size: 11px;
        font-size: 1.1rem; }
      .head-menu-contents .head-menu-counseling .btn-contact a span {
        padding: 7px 15px;
        font-family: "ゴシックMB101 B","Gothic MB101 Bold",sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        font-size: 1.4rem; }
    .head-menu-contents .head-menu-catalog {
      width: 230px;
      display: inline-block;
      letter-spacing: normal;
      vertical-align: top; }
      .head-menu-contents .head-menu-catalog .btn-catalog a {
        display: block;
        padding: 10px 0 6px 140px;
        text-decoration: none;
        background: url("/common/css/img/img_catalog.png") left top no-repeat;
        background-size: 120px auto;
        font-family: "ゴシックMB101 B","Gothic MB101 Bold",sans-serif;
        font-style: normal;
        font-weight: normal; }
        .head-menu-contents .head-menu-catalog .btn-catalog a span {
          position: relative;
          display: block;
          box-sizing: border-box;
          width: 37px;
          height: 37px;
          margin-bottom: 3px;
          margin-left: 8px;
          padding-top: 5px;
          text-align: center;
          color: #fff;
          background: #000;
          font-size: 13px;
          font-size: 1.3rem;
          font-family: "ゴシックMB101 M","Gothic MB101 Medium",sans-serif;
          font-style: normal;
          font-weight: normal;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          -ms-border-radius: 100%;
          -o-border-radius: 100%;
          border-radius: 100%; }
          .head-menu-contents .head-menu-catalog .btn-catalog a span:before {
            position: absolute;
            z-index: -1;
            bottom: -6px;
            left: 40%;
            display: block;
            width: 0;
            height: 0;
            margin-left: -10px;
            content: "";
            border-width: 30px 10px 0 10px;
            border-style: solid;
            border-color: #19283c transparent transparent transparent;
            -webkit-transform: rotate(35deg);
            -ms-transform: rotate(35deg);
            transform: rotate(35deg); } }

@media screen and (max-width: 767px) {
  #head {
    display: none; } }

/* navigation
========================================================================== */
/* ==========================================================================
   ヘッダーナビ
   ========================================================================== */
#head-nav ul {
  display: table;
  width: 100%; }
  #head-nav ul li {
    display: table-cell;
    padding: 25px 0;
    text-align: center; }
    #head-nav ul li a {
      text-decoration: none;
      font-size: 13px;
      font-size: 1.3rem; }
      #head-nav ul li a:hover span {
        background: #f5cd00; }
    #head-nav ul li span {
      display: inline-block;
      padding: 5px;
      line-height: 1;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      font-size: 15px;
      font-size: 1.5rem;
      font-family: "ゴシックMB101 B","Gothic MB101 Bold",sans-serif;
      font-style: normal;
      font-weight: normal; }
    #head-nav ul li.active span {
      background: #f5cd00; }

/* ==========================================================================
   固定ナビ
   ========================================================================== */
@media screen and (min-width: 768px) {
  .fix-nav {
    display: none; } }

@media screen and (max-width: 767px) {
  .fix-nav {
    position: fixed;
    z-index: 98;
    bottom: -92px;
    left: 0;
    width: 100%;
    height: 92px;
    background: #fff;
    -webkit-transition: bottom 0.2s ease-in-out;
    transition: bottom 0.2s ease-in-out; }
    .fix-nav ul {
      border-top: 2px solid #000;
      border-bottom: 2px solid #000; }
      .fix-nav ul li {
        box-sizing: border-box;
        width: 25%;
        border-right: 1px solid #000;
        border-left: 1px solid #000; }
        .fix-nav ul li:first-child {
          border-left: 0; }
        .fix-nav ul li:last-child {
          border-right: 0; }
        .fix-nav ul li a {
          display: block;
          padding: 10px 0;
          text-align: center;
          text-decoration: none;
          background: #fff; }
          .fix-nav ul li a span {
            display: block; }
            .fix-nav ul li a span.fix-nav-txt {
              margin-top: 5px;
              line-height: 1.231;
              font-size: 13px;
              font-size: 1.3rem;
              -webkit-transform: scale(0.85, 1);
              -ms-transform: scale(0.85, 1);
              transform: scale(0.85, 1); }
    .fix-nav.fix {
      bottom: 0; } }

/* side
   ========================================================================== */
/* footer
   ========================================================================== */
#foot {
  padding-bottom: 30px; }
  #foot .foot-inner .foot-sct-catalog {
    padding: 75px 170px 0;
    border-bottom: 1px solid #e5e5e5;
    letter-spacing: -.40em; }
    #foot .foot-inner .foot-sct-catalog .foot-sct-catalog-contents {
      box-sizing: border-box;
      width: 610px;
      padding: 0 0 30px 270px;
      background: url("img/img_catalog.png") left bottom no-repeat;
      background-size: 227px auto;
      display: inline-block;
      letter-spacing: normal;
      vertical-align: top; }
      #foot .foot-inner .foot-sct-catalog .foot-sct-catalog-contents .foot-sct-catalog-ttl {
        font-size: 26px;
        font-size: 2.6rem;
        font-family: "ゴシックMB101 M","Gothic MB101 Medium",sans-serif;
        font-style: normal;
        font-weight: normal; }
      #foot .foot-inner .foot-sct-catalog .foot-sct-catalog-contents .foot-sct-catalog-txt {
        line-height: 1.538;
        color: #888;
        font-size: 13px;
        font-size: 1.3rem; }
    #foot .foot-inner .foot-sct-catalog .foot-sct-catalog-btn {
      width: 230px;
      margin-top: 22px;
      display: inline-block;
      letter-spacing: normal;
      vertical-align: top; }
      #foot .foot-inner .foot-sct-catalog .foot-sct-catalog-btn a {
        display: block;
        text-align: center; }
        #foot .foot-inner .foot-sct-catalog .foot-sct-catalog-btn a span {
          padding-top: 17px;
          padding-bottom: 17px;
          font-size: 16px;
          font-size: 1.6rem; }
  #foot .foot-inner .foot-sct-contact {
    padding: 30px 100px;
    border-bottom: 1px solid #e5e5e5;
    letter-spacing: -.40em; }
    #foot .foot-inner .foot-sct-contact .foot-sct-contact-sttl {
      margin-bottom: 15px;
      font-family: "ゴシックMB101 B","Gothic MB101 Bold",sans-serif;
      font-style: normal;
      font-weight: normal; }
    #foot .foot-inner .foot-sct-contact .foot-sct-contact-from {
      width: 680px;
      display: inline-block;
      letter-spacing: normal;
      vertical-align: top; }
      #foot .foot-inner .foot-sct-contact .foot-sct-contact-from .foot-sct-contact-from-btn li {
        margin-right: 20px; }
    #foot .foot-inner .foot-sct-contact .foot-sct-contact-tel {
      width: 300px;
      display: inline-block;
      letter-spacing: normal;
      vertical-align: top; }
      #foot .foot-inner .foot-sct-contact .foot-sct-contact-tel .foot-sct-contact-sttl {
        margin-bottom: 20px; }
  #foot .foot-inner .wrap-foot-nav {
    display: table;
    width: 100%;
    padding: 50px 0 50px; }
    #foot .foot-inner .wrap-foot-nav .foot-nav {
      display: table-cell;
      padding-right: 20px; }
      #foot .foot-inner .wrap-foot-nav .foot-nav .foot-nav-ttl {
        margin-bottom: 15px;
        font-size: 13px;
        font-size: 1.3rem;
        font-family: "ゴシックMB101 M","Gothic MB101 Medium",sans-serif;
        font-style: normal;
        font-weight: normal; }
      #foot .foot-inner .wrap-foot-nav .foot-nav ul li {
        color: #888; }
        #foot .foot-inner .wrap-foot-nav .foot-nav ul li a {
          text-decoration: underline;
          color: #888; }
          #foot .foot-inner .wrap-foot-nav .foot-nav ul li a:hover {
            text-decoration: none; }
        #foot .foot-inner .wrap-foot-nav .foot-nav ul li span {
          line-height: 1.7em;
          color: #888;
          font-size: 12px;
          font-size: 1.2rem; }
      #foot .foot-inner .wrap-foot-nav .foot-nav:last-child {
        padding-right: 0; }
  #foot .foot-inner .foot-logo {
    margin-bottom: 40px; }
  #foot .foot-inner .foot-utility {
    letter-spacing: -.40em;
    margin-bottom: 40px; }
    #foot .foot-inner .foot-utility li {
      display: inline-block;
      letter-spacing: normal;
      vertical-align: top;
      margin: 0 10px; }
      #foot .foot-inner .foot-utility li span {
        font-size: 12px;
        font-size: 1.2rem; }
  #foot .foot-inner .foot-copy {
    font-size: 10px;
    font-size: 1rem; }

/* ==========================================================================
   04. Parts
   ========================================================================== */
/* ボックス
========================================================================== */
/* 画像右、テキスト左（スマホはテキスト上、画像下） */
@media screen and (min-width: 768px) {
  .box-img-r {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .box-img-r .box-img {
      padding-left: 50px; }
    .box-img-r .box-text {
      flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1; } }

@media screen and (max-width: 767px) {
  .box-img-r .box-text {
    margin-bottom: 15px; }
    .box-img-r .box-text img {
      width: 100%;
      height: auto; } }

/* 画像左、テキスト右（スマホはテキスト上、画像下） */
@media screen and (min-width: 768px) {
  .box-img-l {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse; }
    .box-img-l .box-text {
      flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1; }
    .box-img-l .box-img {
      padding-right: 50px; } }

@media screen and (max-width: 767px) {
  .box-img-l .box-img {
    margin-bottom: 15px; }
    .box-img-l .box-img img {
      width: 100%;
      height: auto; } }

/* 2カラムボックス（PCのみ） */
@media screen and (min-width: 768px) {
  .box-col2-inb {
    letter-spacing: -.4em; }
    .box-col2-inb > * {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      letter-spacing: normal; } }

@media screen and (min-width: 768px) {
  .box-col2-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .box-col2-flex > * {
      width: 50%; } }

/* 3カラムボックス（PCのみ） */
@media screen and (min-width: 768px) {
  .box-col3-inb {
    letter-spacing: -.4em; }
    .box-col3-inb > * {
      display: inline-block;
      width: 33.3%;
      vertical-align: top;
      letter-spacing: normal; }
      .box-col3-inb > *:nth-child(3n) {
        width: 33.4%; } }

@media screen and (min-width: 768px) {
  .box-col3-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .box-col3-flex > * {
      width: 33.3%; }
      .box-col3-flex > *:nth-child(3n) {
        width: 33.4%; } }

/* 4カラムボックス（PCのみ） */
@media screen and (min-width: 768px) {
  .box-col4-inb {
    letter-spacing: -.4em; }
    .box-col4-inb > * {
      display: inline-block;
      width: 25%;
      vertical-align: top;
      letter-spacing: normal; } }

@media screen and (max-width: 767px) {
  .box-col4-inb {
    letter-spacing: -.4em; }
    .box-col4-inb > * {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      letter-spacing: normal; } }

@media screen and (min-width: 768px) {
  .box-col4-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .box-col4-flex > * {
      width: 25%; } }

/* ==========================================================================
   記事詳細
   ========================================================================== */
.info-detail {
  padding: 80px;
  border: 1px solid #e5e5e5;
  background: #fff; }
  .info-detail .info-detail-contents {
    padding: 60px; }
    .info-detail .info-detail-contents h2 {
      margin-bottom: 30px;
      font-size: 20px;
      font-size: 2rem;
      font-family: "ゴシックMB101 B","Gothic MB101 Bold",sans-serif;
      font-style: normal;
      font-weight: normal; }
    .info-detail .info-detail-contents p {
      margin-bottom: 30px;
      font-size: 16px;
      font-size: 1.6rem; }
      .info-detail .info-detail-contents p.img {
        margin-bottom: 70px; }
    .info-detail .info-detail-contents table {
      text-align: left;
      border-top: 1px solid #e5e5e5; }
      .info-detail .info-detail-contents table th {
        padding: 10px;
        border-right: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        background: #FAF8F6;
        font-size: 14px;
        font-size: 1.4rem;
        font-family: "ゴシックMB101 B","Gothic MB101 Bold",sans-serif;
        font-style: normal;
        font-weight: normal; }
      .info-detail .info-detail-contents table td {
        padding: 10px;
        border-bottom: 1px solid #e5e5e5;
        font-size: 14px;
        font-size: 1.4rem; }
      .info-detail .info-detail-contents table.w350 {
        width: 350px; }

@media screen and (max-width: 767px) {
  .info-detail {
    padding: 30px 15px; }
    .info-detail .info-detail-contents {
      padding: 30px 0; }
      .info-detail .info-detail-contents h2 {
        font-size: 18px;
        font-size: 1.8rem; }
      .info-detail .info-detail-contents p {
        font-size: 14px;
        font-size: 1.4rem; }
        .info-detail .info-detail-contents p.img {
          margin-bottom: 30px; }
      .info-detail .info-detail-contents table {
        width: 100%;
        margin-bottom: 30px; }
        .info-detail .info-detail-contents table th {
          padding: 10px;
          font-size: 14px;
          font-size: 1.4rem; }
        .info-detail .info-detail-contents table td {
          padding: 10px;
          font-size: 14px;
          font-size: 1.4rem; }
        .info-detail .info-detail-contents table.w350 {
          width: 100%; }
      .info-detail .info-detail-contents .map {
        position: relative;
        overflow: hidden;
        height: 0;
        padding-top: 30px;
        padding-bottom: 56.25%; }
        .info-detail .info-detail-contents .map embed,
        .info-detail .info-detail-contents .map iframe,
        .info-detail .info-detail-contents .map object {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
      .info-detail .info-detail-contents .fbox .fl,
      .info-detail .info-detail-contents .fbox .fr {
        float: none; } }

/* ==========================================================================
   記事詳細 関連情報
   ========================================================================== */
.info-detail-ft {
  padding: 50px 0 0;
  border-top: 1px solid #e5e5e5;
  letter-spacing: -.40em; }
  .info-detail-ft .wrap-info-relation-ttl {
    box-sizing: border-box;
    width: 240px;
    padding: 10px 0 10px 60px;
    vertical-align: middle !important;
    display: inline-block;
    letter-spacing: normal;
    vertical-align: top; }
    .info-detail-ft .wrap-info-relation-ttl .info-relation-ttl {
      line-height: 1;
      font-size: 30px;
      font-size: 3rem;
      font-family: 'Pragati Narrow', sans-serif;
      font-style: normal;
      font-weight: 700; }
  .info-detail-ft .info-relation-contents {
    box-sizing: border-box;
    padding: 15px 30px;
    vertical-align: middle !important;
    border-left: 1px solid #e5e5e5;
    -webkit-width: calc(100% - 240px);
    -moz-width: calc(100% - 240px);
    -ms-width: calc(100% - 240px);
    -o-width: calc(100% - 240px);
    width: calc(100% - 240px);
    display: inline-block;
    letter-spacing: normal;
    vertical-align: top; }
    .info-detail-ft .info-relation-contents .info-relation-contents-list li {
      margin-bottom: 5px; }
      .info-detail-ft .info-relation-contents .info-relation-contents-list li a {
        display: inline-block;
        text-decoration: underline;
        font-size: 16px;
        font-size: 1.6rem; }
        .info-detail-ft .info-relation-contents .info-relation-contents-list li a:hover {
          text-decoration: none; }
      .info-detail-ft .info-relation-contents .info-relation-contents-list li:last-child {
        margin-bottom: 0; }

@media screen and (max-width: 767px) {
  .info-detail-ft {
    padding: 30px 0 0; }
    .info-detail-ft .wrap-info-relation-ttl {
      display: block;
      box-sizing: border-box;
      width: 100%;
      padding: 10px 0; }
      .info-detail-ft .wrap-info-relation-ttl .info-relation-ttl {
        font-size: 18px;
        font-size: 1.8rem; }
    .info-detail-ft .info-relation-contents {
      display: block;
      box-sizing: border-box;
      width: 100%;
      padding: 15px 0;
      border-left: none; }
      .info-detail-ft .info-relation-contents .info-relation-contents-list li a {
        font-size: 13px;
        font-size: 1.3rem; } }

/* ボタン
   ========================================================================== */
.fade-over a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1; }
  .fade-over a:hover {
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    -ms-opacity: 0.8;
    -o-opacity: 0.8;
    opacity: 0.8; }

/* 基本ボタン */
.btn-cmn a {
  position: relative;
  display: inline-block;
  overflow: visible;
  text-decoration: none; }
  .btn-cmn a > span {
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 7px 30px;
    content: "";
    border: 1px solid #000;
    background-color: #fff;
    -webkit-transition: 0.1s;
    transition: 0.1s; }
  .btn-cmn a:before {
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 3px;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #000; }
  .btn-cmn a:hover > span {
    background-color: #f5cd00; }
  .btn-cmn a:active > span {
    -webkit-transform: translate3d(3px, 3px, 0);
    -ms-transform: translate3d(3px, 3px, 0);
    transform: translate3d(3px, 3px, 0); }

/* フォーム
   ========================================================================== */
/* ページャー */
.pager {
  margin-top: 50px; }
  .pager ul {
    line-height: 1;
    text-align: center;
    letter-spacing: -.40em; }
    .pager ul li {
      position: relative;
      width: 36px;
      height: 36px;
      margin: 0 6px;
      vertical-align: top !important;
      background: #000;
      display: inline-block;
      letter-spacing: normal;
      vertical-align: top;
      -webkit-transform: translate3d(3px, 3px, 0);
      -ms-transform: translate3d(3px, 3px, 0);
      transform: translate3d(3px, 3px, 0); }
      .pager ul li a {
        position: absolute;
        top: -3px;
        left: -3px;
        display: block;
        overflow: visible;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 5px 12px;
        text-decoration: none;
        border: 1px solid #000;
        background-color: #fff;
        -webkit-transition: 0.1s;
        transition: 0.1s;
        font-size: 24px;
        font-size: 2.4rem;
        font-family: 'Pragati Narrow', sans-serif;
        font-style: normal;
        font-weight: 700; }
        .pager ul li a:hover {
          background-color: #f5cd00; }
        .pager ul li a:active {
          -webkit-transform: translate3d(3px, 3px, 0);
          -ms-transform: translate3d(3px, 3px, 0);
          transform: translate3d(3px, 3px, 0); }
      .pager ul li.current {
        box-sizing: border-box;
        padding: 5px 12px;
        border: 1px solid #000;
        background-color: #f5cd00;
        font-size: 24px;
        font-size: 2.4rem;
        font-family: 'Pragati Narrow', sans-serif;
        font-style: normal;
        font-weight: 700; }
      .pager ul li.next, .pager ul li.prev {
        position: relative;
        width: 36px;
        height: 36px; }
        .pager ul li.next.disabled:after, .pager ul li.next a:after, .pager ul li.prev.disabled:after, .pager ul li.prev a:after {
          position: absolute;
          width: 0;
          height: 0;
          margin: auto 0;
          content: "";
          border-width: 8px 5px 0 5px;
          border-style: solid;
          border-color: #000 transparent transparent transparent; }
        .pager ul li.next.disabled, .pager ul li.prev.disabled {
          border: 1px solid #000;
          background-color: #fff;
          box-sizing: border-box; }
      .pager ul li.prev {
        margin-right: 30px; }
        .pager ul li.prev.disabled:after, .pager ul li.prev a:after {
          top: 13px;
          left: 12px;
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
      .pager ul li.next {
        margin-left: 30px; }
        .pager ul li.next.disabled:after, .pager ul li.next a:after {
          top: 13px;
          left: 13px;
          -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }

@media screen and (max-width: 767px) {
  .pager {
    margin-top: 30px; }
    .pager ul li {
      width: 34px;
      height: 34px;
      margin: 0 6px; }
      .pager ul li a {
        padding: 7px 12px;
        font-size: 18px;
        font-size: 1.8rem; }
      .pager ul li.current {
        padding: 7px 12px;
        font-size: 18px;
        font-size: 1.8rem; }
      .pager ul li.next, .pager ul li.prev {
        position: relative;
        width: 34px;
        height: 34px; }
      .pager ul li.prev {
        margin-right: 15px; }
        .pager ul li.prev.disabled:after, .pager ul li.prev a:after {
          top: 12px;
          left: 10px; }
      .pager ul li.next {
        margin-left: 15px; }
        .pager ul li.next.disabled:after, .pager ul li.next a:after {
          top: 12px;
          left: 12px; } }

/* セレクトボックス */
.select-wrap {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  border: 1px solid #e5e5e5;
  background: #fff; }
  .select-wrap select {
    z-index: 2;
    box-sizing: content-box;
    margin: 0;
    padding: 8px 55px 8px 8px;
    font-size: inherit;
    vertical-align: middle;
    color: inherit;
    border: 0;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    border-radius: 0;
    background: none transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none; }
    .select-wrap select:focus {
      outline: 0; }
  .select-wrap:after {
    position: absolute;
    top: 50%;
    right: 14px;
    display: block;
    width: 0;
    height: 0;
    margin-top: -6px;
    content: "";
    border-width: 8px 5px 0 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent; }

@media screen and (max-width: 767px) {
  /* セレクトボックス */
  .select-wrap {
    margin-right: 7px; } }

/* グラフ
   ========================================================================== */
/* アイコン
   ========================================================================== */
.icon-link a[target="_blank"],
a[target="_blank"] .icon-target {
  display: inline-block;
  position: relative;
  padding: 0 1.5em 0 0; }
  .icon-link a[target="_blank"]:after, .icon-link a[target="_blank"]:before,
  a[target="_blank"] .icon-target:after,
  a[target="_blank"] .icon-target:before {
    position: absolute;
    width: 12px;
    height: 10px;
    margin: auto;
    content: "";
    box-sizing: border-box; }
  .icon-link a[target="_blank"]:after,
  a[target="_blank"] .icon-target:after {
    top: 50%;
    margin-top: -.4em;
    right: 0;
    border: 1px solid #000;
    background-color: #fff; }
  .icon-link a[target="_blank"]:before,
  a[target="_blank"] .icon-target:before {
    top: 50%;
    margin-top: -.2em;
    right: 0.3em;
    background-color: #000; }

.icon-link a[href$=".pdf"],
a[href$=".pdf"] .icon-target {
  display: inline-block;
  position: relative;
  padding: 0 1.5em 0 0; }
  .icon-link a[href$=".pdf"]:before,
  a[href$=".pdf"] .icon-target:before {
    position: absolute;
    width: 16px;
    height: 16px;
    margin: auto;
    content: "";
    box-sizing: border-box;
    top: 50%;
    margin-top: -.5em;
    right: 0;
    background: url("/common/css/img/icon_pdf.png") left top no-repeat;
    background-size: 100%; }

.icon-link a[href$=".doc"],
.icon-link a[href$=".docx"],
a[href$=".doc"] .icon-target,
a[href$=".docx"] .icon-target {
  display: inline-block;
  position: relative;
  padding: 0 1.7em 0 0; }
  .icon-link a[href$=".doc"]:before,
  .icon-link a[href$=".docx"]:before,
  a[href$=".doc"] .icon-target:before,
  a[href$=".docx"] .icon-target:before {
    position: absolute;
    width: 19px;
    height: 19px;
    margin: auto;
    content: "";
    box-sizing: border-box;
    top: 50%;
    margin-top: -.5em;
    right: 0;
    background: url("/common/css/img/icon_word.png") left top no-repeat;
    background-size: 100%; }

.icon-link a[href$=".xls"],
.icon-link a[href$=".xlsm"],
.icon-link a[href$=".xlsx"],
a[href$=".xls"] .icon-target,
a[href$=".xlsm"] .icon-target,
a[href$=".xlsx"] .icon-target {
  display: inline-block;
  position: relative;
  padding: 0 1.7em 0 0; }
  .icon-link a[href$=".xls"]:before,
  .icon-link a[href$=".xlsm"]:before,
  .icon-link a[href$=".xlsx"]:before,
  a[href$=".xls"] .icon-target:before,
  a[href$=".xlsm"] .icon-target:before,
  a[href$=".xlsx"] .icon-target:before {
    position: absolute;
    width: 19px;
    height: 19px;
    margin: auto;
    content: "";
    box-sizing: border-box;
    top: 50%;
    margin-top: -.5em;
    right: 0;
    background: url("/common/css/img/icon_exel.png") left top no-repeat;
    background-size: 100%; }

/* 画像
   ========================================================================== */
/* リスト
   ========================================================================== */
/* その他パーツ
   ========================================================================== */
/* テーブル
   ========================================================================== */
/* タイトル
   ========================================================================== */
/* ==========================================================================
      main-ttl
      ========================================================================== */
.wrap-main-ttl {
  padding: 25px 25px 35px;
  border-top: 1px solid #e5e5e5; }
  .wrap-main-ttl .main-ttl {
    margin-right: 30px;
    font-family: "ゴシックMB101 B","Gothic MB101 Bold",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    font-size: 2rem; }
    .wrap-main-ttl .main-ttl:before {
      display: inline-block;
      width: 20px;
      height: 24px;
      margin: -3px 10px 0 0;
      content: "";
      vertical-align: middle;
      background: url("/common/css/img/icon_document.png") left top no-repeat;
      background-size: 100%; }

@media screen and (max-width: 767px) {
  .wrap-main-ttl {
    padding: 25px 0 25px; }
    .wrap-main-ttl .main-ttl {
      float: none;
      margin-bottom: 10px; } }

/* Webフォント
   ========================================================================== */
/* ==========================================================================
   05. Responisive
   ========================================================================== */
/* レスポンシブ関連
   ========================================================================== */
/* image */
img {
  vertical-align: bottom;
  line-height: 1.0;
  max-width: 100%;
  height: auto; }

/* display */
.block {
  display: block; }

.sp-item {
  display: none !important; }

.pc-block {
  display: block; }

@media screen and (max-width: 767px) {
  .sp-item {
    display: block !important; }
  .pc-item {
    display: none !important; }
  .pc-block {
    display: inline; }
  .sp-block {
    display: block; }
  .sp-pdg {
    padding-left: 15px !important;
    padding-right: 15px !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
  .sp-pdg-large {
    padding-left: 20px !important;
    padding-right: 20px !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; } }
