@charset "UTF-8";
/* ボックス
========================================================================== */
/* 画像右、テキスト左（スマホはテキスト上、画像下） */
.box-img-r {
  @include mq-pc {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .box-img {
      padding-left: 50px;
    }

    .box-text {
      flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
    }
  }
  @include mq-sp {
    .box-text {
      margin-bottom: 15px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
/* 画像左、テキスト右（スマホはテキスト上、画像下） */
.box-img-l {
  @include mq-pc {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;

    .box-text {
      flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
    }

    .box-img {
      padding-right: 50px;
    }


  }
  @include mq-sp {
    .box-img {
      margin-bottom: 15px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
/* 2カラムボックス（PCのみ） */
.box-col2-inb {
  @include mq-pc {
    letter-spacing: -.4em;

    > * {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      letter-spacing: normal;
    }
  }
}

.box-col2-flex {
  @include mq-pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    > * {
      width: 50%;
    }
  }
}
/* 3カラムボックス（PCのみ） */
.box-col3-inb {
  @include mq-pc {
    letter-spacing: -.4em;

    > * {
      display: inline-block;
      width: 33.3%;
      vertical-align: top;
      letter-spacing: normal;

      &:nth-child(3n) {
        width: 33.4%;
      }
    }
  }
}

.box-col3-flex {
  @include mq-pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    > * {
      width: 33.3%;

      &:nth-child(3n) {
        width: 33.4%;
      }
    }
  }
}
/* 4カラムボックス（PCのみ） */
.box-col4-inb {
  @include mq-pc {
    letter-spacing: -.4em;

    > * {
      display: inline-block;
      width: 25%;
      vertical-align: top;
      letter-spacing: normal;
    }
  }
  @include mq-sp {
    letter-spacing: -.4em;

    > * {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      letter-spacing: normal;
    }
  }
}

.box-col4-flex {
  @include mq-pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    > * {
      width: 25%;
    }
  }
}
/* ==========================================================================
   記事詳細
   ========================================================================== */
.info-detail {
  padding: 80px;
  border: 1px solid $color-gray-line;
  background: #fff;

  .info-detail-contents {
    padding: 60px;

    h2 {
      margin-bottom: 30px;
      @include fontsize(20);
      @include go-mb-b;
    }

    p {
      margin-bottom: 30px;
      @include fontsize(16);

      &.img {
        margin-bottom: 70px;
      }
    }

    table {
      text-align: left;
      border-top: 1px solid $color-gray-line;

      th {
        padding: 10px;
        border-right: 1px solid $color-gray-line;
        border-bottom: 1px solid $color-gray-line;
        background: $color-gray-bg;
        @include fontsize(14);
        @include go-mb-b;
      }

      td {
        padding: 10px;
        border-bottom: 1px solid $color-gray-line;
        @include fontsize(14);
      }

      &.w350 {
        width: 350px;
      }
    }
  }
}
@include mq-sp {
  .info-detail {
    padding: 30px 15px;

    .info-detail-contents {
      padding: 30px 0;

      h2 {
        @include fontsize(18);
      }

      p {
        @include fontsize(14);

        &.img {
          margin-bottom: 30px;
        }
      }

      table {
        width: 100%;
        margin-bottom: 30px;

        th {
          padding: 10px;
          @include fontsize(14);
        }

        td {
          padding: 10px;
          @include fontsize(14);
        }

        &.w350 {
          width: 100%;
        }
      }

      .map {
        position: relative;
        overflow: hidden;
        height: 0;
        padding-top: 30px;
        padding-bottom: 56.25%;

        embed,
        iframe,
        object {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      .fbox {
        .fl,
        .fr {
          float: none;
        }
      }
    }
  }
}
/* ==========================================================================
   記事詳細 関連情報
   ========================================================================== */
.info-detail-ft {
  padding: 50px 0 0;
  border-top: 1px solid $color-gray-line;
  @include inblock-parent;

  .wrap-info-relation-ttl {
    box-sizing: border-box;
    width: 240px;
    padding: 10px 0 10px 60px;
    vertical-align: middle !important;
    @include inblock;

    .info-relation-ttl {
      line-height: 1;
      @include fontsize(30);
      @include pra-b;
    }
  }

  .info-relation-contents {
    box-sizing: border-box;
    padding: 15px 30px;
    vertical-align: middle !important;
    border-left: 1px solid $color-gray-line;
    @include css3(width, calc(100% - 240px));
    @include inblock;

    .info-relation-contents-list {
      li {
        margin-bottom: 5px;

        a {
          display: inline-block;
          text-decoration: underline;
          @include fontsize(16);

          &:hover {
            text-decoration: none;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
@include mq-sp {
  .info-detail-ft {
    padding: 30px 0 0;

    .wrap-info-relation-ttl {
      display: block;
      box-sizing: border-box;
      width: 100%;
      padding: 10px 0;

      .info-relation-ttl {
        @include fontsize(18);
      }
    }

    .info-relation-contents {
      display: block;
      box-sizing: border-box;
      width: 100%;
      padding: 15px 0;
      border-left: none;

      .info-relation-contents-list {
        li {
          a {
            @include fontsize(13);
          }
        }
      }
    }
  }
}
