@charset "UTF-8";

/* ボタン
   ========================================================================== */

.fade-over{
  a{
    @include transition(.3s);
    @include css3(opacity,1);
    &:hover{
      @include css3(opacity,.8);
    }
  }
}

/* 基本ボタン */
.btn-cmn {
  a {
    position: relative;
    display: inline-block;
    overflow: visible;
    text-decoration: none;

    & > span {
      position: relative;
      z-index: 2;
      top: 0;
      left: 0;
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 7px 30px;
      content: "";
      border: 1px solid $color-base;
      background-color: #fff;
      @include transition(.1s);
    }

    &:before {
      position: absolute;
      z-index: 1;
      top: 3px;
      left: 3px;
      display: block;
      width: 100%;
      height: 100%;
      content: "";
      background-color: $color-base;
    }
    //ホバー時
    &:hover {
      & > span {
        background-color: $color-yellow;
      }
    }

    //クリック時
    &:active {
      & > span {
        @include transform(translate3d(3px,3px,0));
      }
    }
  }
}



@include mq-sp {}
