@charset "UTF-8";
/* フォーム
   ========================================================================== */
/* ページャー */
.pager {
  margin-top: 50px;

  ul {
    line-height: 1;
    text-align: center;
    @include inblock-parent;

    li {
      position: relative;
      width: 36px;
      height: 36px;
      margin: 0 6px;
      vertical-align: top !important;
      background: $color-base;
      @include inblock;
      @include transform(translate3d(3px,3px,0));

      a {
        position: absolute;
        top: -3px;
        left: -3px;
        display: block;
        overflow: visible;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 5px 12px;
        text-decoration: none;
        border: 1px solid $color-base;
        background-color: #fff;
        @include transition(.1s);
        @include fontsize(24);
        @include pra-b;
        //ホバー時
        &:hover {
          background-color: $color-yellow;
        }
        //クリック時
        &:active {
          @include transform(translate3d(3px,3px,0));
        }
      }

      &.current {
        box-sizing: border-box;
        padding: 5px 12px;
        border: 1px solid $color-base;
        background-color: $color-yellow;
        @include fontsize(24);
        @include pra-b;
      }

      &.next,
      &.prev {
        position: relative;
        width: 36px;
        height: 36px;
        &.disabled,a {
          &:after {
            position: absolute;
            width: 0;
            height: 0;
            margin: auto 0;
            content: "";
            border-width: 8px 5px 0 5px;
            border-style: solid;
            border-color: $color-base transparent transparent transparent;
          }
        }
        &.disabled{
          border: 1px solid $color-base;
          background-color: #fff;
          box-sizing: border-box;
        }
      }

      &.prev {
        margin-right: 30px;
        &.disabled,a {
          &:after {
            top: 13px;
            left: 12px;
            @include transform(rotate(90deg));
          }
        }
      }

      &.next {
        margin-left: 30px;
        &.disabled,a {
          &:after {
            top: 13px;
            left: 13px;
            @include transform(rotate(-90deg));
          }
        }
      }
    }
  }
}

@include mq-sp{
  .pager {
    margin-top: 30px;

    ul {
      li {
        width: 34px;
        height: 34px;
        margin: 0 6px;

        a {
          padding: 7px 12px;
          @include fontsize(18);
        }

        &.current {
          padding: 7px 12px;
          @include fontsize(18);
        }

        &.next,
        &.prev {
          position: relative;
          width: 34px;
          height: 34px;
        }

        &.prev {
          margin-right: 15px;
          &.disabled,a {
            &:after {
              top: 12px;
              left: 10px;
            }
          }
        }

        &.next {
          margin-left: 15px;
          &.disabled,a {
            &:after {
              top: 12px;
              left: 12px;
            }
          }
        }
      }
    }
  }
}
//  @include mq-sp {
//    .pager {
//      margin-top: 30px;
//
//      ul {
//        li {
//          span {
//            padding: 7px 12px;
//            @include fontsize(18);
//          }
//
//          &.next,
//          &.prev {
//            span {
//              width: 34px;
//              height: 34px;
//
//              &:after {
//                border-width: 6px 4px 0 4px;
//              }
//            }
//          }
//
//          &.prev {
//            margin-right: 15px;
//          }
//
//          &.next {
//            margin-left: 15px;
//          }
//        }
//      }
//    }
//  }
/* セレクトボックス */
.select-wrap {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  border: 1px solid $color-gray-line;
  background: #fff;

  select {
    // position: absolute;
    z-index: 2;
    box-sizing: content-box;
    margin: 0;
    padding: 8px 55px 8px 8px;
    font-size: inherit;
    vertical-align: middle;
    color: inherit;
    border: 0;
    border-right: 2px solid $color-base;
    border-bottom: 2px solid $color-base;
    border-radius: 0;
    background: none transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    &:focus {
      outline: 0;
    }
  }

  &:after {
    position: absolute;
    // z-index: -1;
    top: 50%;
    right: 14px;
    display: block;
    width: 0;
    height: 0;
    margin-top: -6px;
    content: "";
    border-width: 8px 5px 0 5px;
    border-style: solid;
    border-color: $color-base transparent transparent transparent;
  }
}
@include mq-sp {
  /* セレクトボックス */
  .select-wrap {
    margin-right: 7px;
  }
}
