@charset "UTF-8";
/* アイコン
   ========================================================================== */
//ブランク

.icon-link a[target="_blank"],
a[target="_blank"] .icon-target {
  display: inline-block;
  position: relative;
  padding: 0 1.5em 0 0;

  &:after,
  &:before {
    position: absolute;
    width: 12px;
    height: 10px;
    margin: auto;
    content: "";
    box-sizing: border-box;
  }

  &:after {
    top: 50%;
    margin-top: -.4em;
    right: 0;
    border: 1px solid $color-base;
    background-color: #fff;
  }

  &:before {
    top: 50%;
    margin-top: -.2em;
    right: 0.3em;
    background-color: $color-base;
  }
}
//pdf

.icon-link a[href$=".pdf"],
a[href$=".pdf"] .icon-target {
  display: inline-block;
  position: relative;
  padding: 0 1.5em 0 0;

  &:before {
    position: absolute;
    width: 16px;
    height: 16px;
    margin: auto;
    content: "";
    box-sizing: border-box;
    top: 50%;
    margin-top: -.5em;
    right: 0;
    background: url("/common/css/img/icon_pdf.png") left top no-repeat;
    background-size: 100%;
  }
}
//Word

.icon-link a[href$=".doc"],
.icon-link a[href$=".docx"],
a[href$=".doc"] .icon-target,
a[href$=".docx"] .icon-target {
  display: inline-block;
  position: relative;
  padding: 0 1.7em 0 0;

  &:before {
    position: absolute;
    width: 19px;
    height: 19px;
    margin: auto;
    content: "";
    box-sizing: border-box;
    top: 50%;
    margin-top: -.5em;
    right: 0;
    background: url("/common/css/img/icon_word.png") left top no-repeat;
    background-size: 100%;
  }
}
//Exel

.icon-link a[href$=".xls"],
.icon-link a[href$=".xlsm"],
.icon-link a[href$=".xlsx"],
a[href$=".xls"] .icon-target,
a[href$=".xlsm"] .icon-target,
a[href$=".xlsx"] .icon-target {
  display: inline-block;
  position: relative;
  padding: 0 1.7em 0 0;

  &:before {
    position: absolute;
    width: 19px;
    height: 19px;
    margin: auto;
    content: "";
    box-sizing: border-box;
    top: 50%;
    margin-top: -.5em;
    right: 0;
    background: url("/common/css/img/icon_exel.png") left top no-repeat;
    background-size: 100%;
  }
}
@include mq-sp {}
