@charset "UTF-8";

/* レスポンシブ関連
   ========================================================================== */

/* image */

img{
  vertical-align:bottom;
  line-height:1.0;
  max-width:100%;
  height:auto;
}

/* display */

.block{
  display:block;
}

.sp-item{
  display:none !important;
}

.pc-block{
  display:block;
}


@include mq-sp{

  .sp-item{
    display:block !important;
  }

  .pc-item{
    display:none !important;
  }

  .pc-block{
    display:inline;
  }

  .sp-block{
    display:block;
  }

  .sp-pdg{
    padding-left:15px !important;
    padding-right:15px !important;
    @include css3(box-sizing, border-box);
  }

  .sp-pdg-large{
    padding-left:20px !important;
    padding-right:20px !important;
    @include css3(box-sizing, border-box);
  }

}
