  @charset "UTF-8";

/* タイトル
   ========================================================================== */

   /* ==========================================================================
      main-ttl
      ========================================================================== */

   .wrap-main-ttl {
     padding: 25px 25px 35px;
     border-top: 1px solid $color-gray-line;
     .main-ttl {
       margin-right: 30px;
       @include go-mb-b;
       @include fontsize(20);

       &:before {
         display: inline-block;
         width: 20px;
         height: 24px;
         margin: -3px 10px 0 0;
         content: "";
         vertical-align: middle;
         background: url("/common/css/img/icon_document.png") left top no-repeat;
         background-size: 100%;
       }
     }
   }



@include mq-sp {
  .wrap-main-ttl {
    padding: 25px 0 25px;
    .main-ttl {
      float: none;
      margin-bottom: 10px;
    }
  }
}
