@charset "UTF-8";
/* footer
   ========================================================================== */
#foot {
  padding-bottom: 30px;
  .foot-inner {
    .foot-sct-catalog {
      padding: 75px 170px 0;
      border-bottom: 1px solid $color-gray-line;
      @include inblock-parent;

      .foot-sct-catalog-contents {
        box-sizing: border-box;
        width: 610px;
        padding: 0 0 30px 270px;
        background: url("img/img_catalog.png") left bottom no-repeat;
        background-size: 227px auto;
        @include inblock;

        .foot-sct-catalog-ttl {
          @include fontsize(26);
          @include go-mb-m;
        }

        .foot-sct-catalog-txt {
          line-height: 1.538;
          color: #888;
          @include fontsize(13);
        }
      }

      .foot-sct-catalog-btn {
        width: 230px;
        margin-top: 22px;
        @include inblock;

        a {
          display: block;
          text-align: center;

          span {
            padding-top: 17px;
            padding-bottom: 17px;
            @include fontsize(16);
          }
        }
      }
    }

    .foot-sct-contact {
      padding: 30px 100px;
      border-bottom: 1px solid $color-gray-line;
      @include inblock-parent;

      .foot-sct-contact-sttl {
        margin-bottom: 15px;
        @include go-mb-b;
      }

      .foot-sct-contact-from {
        width: 680px;
        @include inblock;

        .foot-sct-contact-from-btn {
          li {
            margin-right: 20px;
          }
        }
      }

      .foot-sct-contact-tel {
        width: 300px;
        @include inblock;

        .foot-sct-contact-sttl {
          margin-bottom: 20px;
        }
      }
    }

    .wrap-foot-nav {
      display: table;
      width: 100%;
      padding: 50px 0 50px;

      .foot-nav {
        display: table-cell;
        padding-right: 20px;

        .foot-nav-ttl {
          margin-bottom: 15px;
          @include fontsize(13);
          @include go-mb-m;
        }

        ul {
          li {
            color: #888;

            a {
              text-decoration: underline;
              color: #888;

              &:hover {
                text-decoration: none;
              }
            }

            span {
              line-height: 1.7em;
              color: #888;
              @include fontsize(12);
            }
          }
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }

    .foot-logo{
      margin-bottom: 40px;
    }

    .foot-utility{
      @include inblock-parent;
      margin-bottom: 40px;
      li{
        @include inblock;
        margin: 0 10px;
        span{
          @include fontsize(12);
        }
      }
    }
    .foot-copy{
      @include fontsize(10);
    }
  }
}


@include mq-sp {}
