@charset "UTF-8";
/* header
   ========================================================================== */

@include mq-pc{
  #head {
    @include contents;
  }

  .head-menu {
    padding: 25px 0 20px;
    border-bottom: 1px solid $color-gray-line;
  }

  #head-logo {
    padding: 20px;
  }

  .head-menu-contents {
    width: 650px;
    @include inblock-parent;

    .head-menu-tel {
      width: 210px;
      @include inblock;

      .cap-tel {
        margin-bottom: 5px;
        @include fontsize(11);
      }

      .txt-open {
        @include fontsize(11);
      }
    }

    .head-menu-counseling {
      width: 210px;
      @include inblock;

      .cap-counseling {
        margin-bottom: 5px;
        @include fontsize(11);
      }

      .btn-contact {
        a {
          span {
            padding: 7px 15px;
            @include go-mb-b;
            @include fontsize(14);
          }
        }
      }
    }

    .head-menu-catalog {
      width: 230px;
      @include inblock;

      .btn-catalog {
        a {
          display: block;
          padding: 10px 0 6px 140px;
          text-decoration: none;
          background: url("/common/css/img/img_catalog.png") left top no-repeat;
          background-size: 120px auto;
          @include go-mb-b;

          span {
            position: relative;
            display: block;
            box-sizing: border-box;
            width: 37px;
            height: 37px;
            margin-bottom: 3px;
            margin-left: 8px;
            padding-top: 5px;
            text-align: center;
            color: #fff;
            background: $color-base;
            @include fontsize(13);
            @include go-mb-m;
            @include css3(border-radius,100%);

            &:before {
              position: absolute;
              z-index: -1;
              bottom: -6px;
              left: 40%;
              display: block;
              width: 0;
              height: 0;
              margin-left: -10px;
              content: "";
              border-width: 30px 10px 0 10px;
              border-style: solid;
              border-color: #19283c transparent transparent transparent;
              @include transform(rotate(35deg));
            }
          }
        }
      }
    }
  }
}


@include mq-sp{
  #head {
    display: none;
  }
}




// //MENUボタン
// #sp-head-menu {
//   position: absolute;
//   top: 15px;
//   right: 15px;
//   width: 30px;
//   line-height: 1;
//   text-align: center;
//
//   .head-menu-bar {
//     position: relative;
//     width: 30px;
//     height: 18px;
//     margin: 0 auto 8px;
//
//     .bar {
//       position: absolute;
//       left: 0;
//       width: 100%;
//       height: 2px;
//       background-color: $color-base;
//       @include transition(all .2s ease);
//
//       &:nth-child(1) {
//         top: 0;
//       }
//
//       &:nth-child(2) {
//         top: 8px;
//       }
//
//       &:nth-child(3) {
//         bottom: 0;
//       }
//     }
//   }
//
//   .label {
//     @include fontsize(10);
//     //後にフォント変更
//     @include go-mb-b;
//
//     &.label-menu {
//       display: block;
//     }
//
//     &.label-close {
//       display: none;
//     }
//   }
//
//   &.close {
//     position: fixed;
//     z-index: 100;
//
//     .head-menu-bar {
//       .bar {
//         &:nth-of-type(1) {
//           -webkit-transform: translateY(8px) rotate(-45deg);
//           transform: translateY(8px) rotate(-45deg);
//         }
//
//         &:nth-of-type(2) {
//           opacity: 0;
//         }
//
//         &:nth-of-type(3) {
//           -webkit-transform: translateY(-8px) rotate(45deg);
//           transform: translateY(-8px) rotate(45deg);
//         }
//       }
//     }
//
//     .label {
//       &.label-menu {
//         display: none;
//       }
//
//       &.label-close {
//         display: block;
//       }
//     }
//   }
// }
//
//
//
// @include mq-sp {
//   #head {
//     #head-nav-wrap {
//       position: fixed;
//       z-index: 100;
//       top: 70px;
//       left: 50%;
//       display: none;
//       margin: 0 0 0 -125px;
//       padding: 35px;
//
//       &.show {
//         display: block;
//       }
//     }
//
//     #sp-head-logo {
//       margin: 20px 0 0 20px;
//     }
//   }
//
//   body.show {
//     position: relative;
//
//     &:before {
//       position: absolute;
//       z-index: 99;
//       top: 0;
//       left: 0;
//       display: block;
//       width: 100%;
//       height: 100%;
//       content: "";
//       background: rgba(0, 0, 0, .3);
//     }
//   }
// }
