@charset "UTF-8";
/* navigation
========================================================================== */
/* ==========================================================================
   ヘッダーナビ
   ========================================================================== */
#head-nav {
  ul {
    display: table;
    width: 100%;

    li {
      display: table-cell;
      padding: 25px 0;
      text-align: center;

      a {
        text-decoration: none;
        @include fontsize(13);

        &:hover {
          span {
            background: $color-yellow;
          }
        }
      }

      span {
        display: inline-block;
        padding: 5px;
        line-height: 1;
        @include transition(.3s);
        @include fontsize(15);
        @include go-mb-b;
      }

      &.active {
        span {
          background: $color-yellow;
        }
      }
    }
  }
}
/* ==========================================================================
   固定ナビ
   ========================================================================== */
@include mq-pc {
  .fix-nav {
    display: none;
  }
}
@include mq-sp {
  .fix-nav {
    position: fixed;
    z-index: 98;
    bottom: -92px;
    left: 0;
    width: 100%;
    height: 92px;
    background: #fff;
    @include transition(bottom .2s ease-in-out);

    ul {
      border-top: 2px solid $color-base;
      border-bottom: 2px solid $color-base;

      li {
        box-sizing: border-box;
        width: 25%;
        border-right: 1px solid $color-base;
        border-left: 1px solid $color-base;

        &:first-child {
          border-left: 0;
        }

        &:last-child {
          border-right: 0;
        }

        a {
          display: block;
          padding: 10px 0;
          text-align: center;
          text-decoration: none;
          background: #fff;

          span {
            display: block;

            &.fix-nav-txt {
              margin-top: 5px;
              line-height: 1.231;
              @include fontsize(13);
              @include transform(scale(.85, 1));
            }
          }
        }
      }
    }

    &.fix {
      bottom: 0;
    }
  }
}
