@charset "UTF-8";
/* wrapper
   ========================================================================== */
/* #contents */
#contents.bg-square {
  padding: 30px 0 100px;
}
/* 幅1180px中央 */
.cmn-inner {
  @include contents;
}
/* マス目背景 */
.bg-square {
  background: url("img/bg_square.gif") center;
  background-size: 1380px;
}
/* グレー背景 */
.bg-gray {
  background-color: $color-gray-bg;
}
@include mq-sp {
  //fix-navの分だけ下余白
  #wrapper {
    padding-bottom: 92px;
  }

  .cmn-inner {
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    @include contents;
  }
}
