@mixin fontsize($fontsize) {
  font-size: $fontsize + px;
  font-size: ($fontsize / 10) + rem;
}

@mixin fontsize-in($fontsize, $baseFontSize) {
	font-size: percentage( $fontsize / $baseFontSize);
}

@mixin fontsize-vw($fontsize-vw, $parent-width) {
  font-size: ($fontsize-vw / $parent-width) *100 + vw;
}

@mixin rsp-box($child-width, $parent-width){
  width: percentage( $child-width / $parent-width);
}

