@mixin css3-gradient($startcolor, $stopcolor) {
  background: $startcolor; //Old browsers
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$startcolor), color-stop(100%,$stopcolor)); //Chrome,Safari4+
  background: -webkit-linear-gradient(top,  $startcolor 0%,$stopcolor 100%);  //Chrome10+,Safari5.1+
  background: -o-linear-gradient(top,  $startcolor 0%,$stopcolor 100%);  //Opera 11.10+
  background: -ms-linear-gradient(top,  $startcolor 0%,$stopcolor 100%); // IE10+
  background: linear-gradient(to bottom,  $startcolor 0%,$stopcolor 100%);  //W3C
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$startcolor', endColorstr='$stopcolor',GradientType=0 );  //IE6-9
}
