@charset "UTF-8";

@mixin clearfix {
  display: block;

  &:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

@mixin css3($property, $value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}#{$property}: $value;
  }
}

@mixin contents {
  margin: 0 auto;
  width: $contents-width;
  @include mq-sp{
    width: 100%;
  }
}

@mixin hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  zoom: 1;
}

@mixin transition($tr) {
  -webkit-transition: $tr;
  transition: $tr;
}

@mixin transform($trsf) {
  -webkit-transform: $trsf;
  -ms-transform: $trsf;
  transform: $trsf;
}

@mixin font-smoothing{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin sans-serif-l {
  font-family: arial,sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin sans-serif-b {
  font-family: arial,sans-serif;
  font-style: normal;
  font-weight: bold;
}

@mixin go-mb-r {
  font-family: "ゴシックMB101 R","Gothic MB101 Regular",sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin go-mb-m {
  font-family: "ゴシックMB101 M","Gothic MB101 Medium",sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin go-mb-b {
  font-family: "ゴシックMB101 B","Gothic MB101 Bold",sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin pra-b {
  font-family: 'Pragati Narrow', sans-serif;
  font-style: normal;
  font-weight: 700;
}
