@mixin mq-pc-m {
  @media screen and (max-width: 1109px) {
    @content;
  }
}

@mixin mq-pc {
  @media screen and (min-width: $break-small + 1) {
    @content;
  }
}

@mixin mq-sp {
  @media screen and (max-width: $break-small) {
    @content;
  }
}