@charset "UTF-8";

html {
  color: $color-base;
  font-size: 62.5%;
  overflow-y: scroll;
}

body {
  @include go-mb-r;
  @include font-smoothing;
  font-size: percentage( $base-font-size * 0.1 ) ;
  line-height: $base-line-height;
  //-webkit-text-size-adjust: 100%;
  min-width:1180px;
  overflow-x: hidden;
}

@include mq-sp{

  body {
    font-size: percentage( 14 * 0.1 ) ;
    min-width:100%;
  }

}

/* link
   ========================================================================== */

a {
  color: $color-link;
  text-decoration: none;
}

a:hover {
  // color: $color-link-hover;
  text-decoration: underline;
}

a:link,
a:visited,
a:active,
a:hover { /* FireFox リンク選択時の点線を消す */
  overflow: hidden;
  outline: none;
}


/* image
   ========================================================================== */

img {
  line-height: 1.0;
  vertical-align: bottom;
}

table th img,
table td img {
  vertical-align :middle;
}

/* ClearFix
   ========================================================================== */

.clear{
  clear: both;
}

.clearfix,
.fbox,
.item-wrap,
.has-side {
  display: block;

  &:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

/* float
   ========================================================================== */

.fr {
  float: right;
}

.fl {
  float: left;
}

ul.fbox li {
  float: left;
  display: inline;
}

/* margin
   ========================================================================== */

$mspan: 5;

// mt0 〜 mt100
@for $i from 0 through 20 {
  .mt#{$i*$mspan} {
    margin-top: #{$mspan*$i}px !important;
//    @include mq-sp {
//      margin-top: #{$mspan*$i*0.73}px !important;
//    }
  }
}

// mb0 〜 mb100
@for $i from 0 through 20 {
  .mb#{$i*$mspan} {
    margin-bottom: #{$mspan*$i}px !important;
//    @include mq-sp {
//      margin-bottom: #{$mspan*$i*0.75}px !important;
//    }
  }
}

// mr0 〜 mr100
@for $k from 0 through 20 {
  .mr#{$k*$mspan} {
    margin-right: #{$mspan*$k}px !important;
  }
}

// ml0 〜 ml100
@for $l from 0 through 20 {
  .ml#{$l*$mspan} {
    margin-left: #{$mspan*$l}px !important;
  }
}

/* padding
   ========================================================================== */
.pt0 { padding-top :0 !important; }
.pb0 { padding-bottom: 0 !important; }

/* form label
   ========================================================================== */

input,
textarea,
label {
  vertical-align: middle;
}

/* position
   ========================================================================== */

.text-r {
  text-align: right !important;
}

.text-c,
table.text-c th,
table.text-c td,
table.th-c th {
  text-align: center !important;
}

.text-l {
  text-align: left !important;
}
